<a href="https://colab.research.google.com/github/sr606/Machine_Learning_CaseStudies/blob/main/Bank_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Files/Bank_Customers.csv')
df

,RowNumber,CustomerID,Surname,CreditScore,Country,Gender,Married,Age,Dependents,NumBankAccts,...,LifeInsurance,NumTransactions,LastTransactionDate,LastTransactionAmt,ForeignAssets,NumProducts,Churn,Discount,Retention,CLV
0,1.0,15634602.0,Hargrave,619.0,France,Female,1.0,42.0,3.0,1.0,...,1.0,5.0,1/27/2019,2095.3,0.39,4.0,0.0,0.21,NaN,NaN
1,2.0,15647311.0,Hill,608.0,Spain,Female,1.0,41.0,2.0,1.0,...,1.0,8.0,2/25/2019,9955.2,0.21,1.0,0.0,0.50,NaN,NaN
2,3.0,15619304.0,Onio,502.0,France,Female,1.0,42.0,2.0,3.0,...,0.0,3.0,11/5/2017,9123.1,0.00,5.0,1.0,0.37,NaN,NaN
3,4.0,15701354.0,Boni,699.0,France,Female,1.0,39.0,0.0,2.0,...,0.0,5.0,1/7/2019,5973.3,0.40,5.0,0.0,0.72,NaN,NaN
4,5.0,15737888.0,Mitchell,850.0,Spain,Female,1.0,43.0,0.0,1.0,...,1.0,2.0,3/28/2015,9834.4,0.13,4.0,0.0,0.26,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,9997.0,15569892.0,Johnstone,516.0,France,Male,1.0,35.0,3.0,1.0,...,1.0,1.0,4/7/2017,654.7,0.17,6.0,0.0,0.35,NaN,NaN
9997,9998.0,15584532.0,Liu,709.0,France,Female,0.0,36.0,1.0,1.0,...,1.0,8.0,8/11/2018,8673.2,0.43,6.0,1.0,0.59,NaN,NaN
9998,9999.0,15682355.0,Sabbatini,772.0,Germany,Male,1.0,42.0,1.0,2.0,...,0.0,2.0,3/14/2018,9197.5,0.01,5.0,1.0,0.32,NaN,NaN
9999,10000.0,15628319.0,Walker,792.0,France,Female,0.0,28.0,0.0,1.0,...,0.0,7.0,8/20/2016,1978.4,0.00,6.0,0.0,0.29,NaN,NaN
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(10001, 39)

10k rows with 39 cols

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RowNumber            10000 non-null  float64
 1   CustomerID           10000 non-null  float64
 2   Surname              10000 non-null  object
 3   CreditScore          10000 non-null  float64
 4   Country              10000 non-null  object
 5   Gender               10000 non-null  object
 6   Married              10000 non-null  float64
 7   Age                  10000 non-null  float64
 8   Dependents           10000 non-null  float64
 9   NumBankAccts         10000 non-null  float64
 10  HasCrCard            10000 non-null  float64
 11  EmergingMarketFund   10000 non-null  float64
 12  RealEstate           10000 non-null  float64
 13  PrivateEquity        10000 non-null  float64
 14  GovtBonds            10000 non-null  float64
 15  CorpBonds            10000 non-null  float64
 16  ETF Tech             10000 non-null  float64
 17  ETF Health           10000 non-null  float64
 18  ETF Med              10001 non-null  int64
 19  EstimatedSalary      10000 non-null  float64
 20  Mortgage             10000 non-null  float64
 21  Risk Profile         10000 non-null  float64
 22  Debt                 10000 non-null  float64
 23  Net Assets           10000 non-null  float64
 24  Portfolio Return     10000 non-null  float64
 25  Diversification      10000 non-null  float64
 26  BusinessOwner        10000 non-null  float64
 27  Revenue              10000 non-null  float64
 28  Margin               10000 non-null  float64
 29  LifeInsurance        10000 non-null  float64
 30  NumTransactions      10000 non-null  float64
 31  LastTransactionDate  10000 non-null  object
 32  LastTransactionAmt   10000 non-null  float64
 33  ForeignAssets        10000 non-null  float64
 34  NumProducts          10000 non-null  float64
 35  Churn                10000 non-null  float64
 36  Discount             10000 non-null  float64
 37  Retention            0 non-null      float64
 38  CLV                  0 non-null      float64
dtypes: float64(34), int64(1), object(4)
memory usage: 3.0+ MB

In [ ]:
df.isnull().sum()

RowNumber                  1
CustomerID                 1
Surname                    1
CreditScore                1
Country                    1
Gender                     1
Married                    1
Age                        1
Dependents                 1
NumBankAccts               1
HasCrCard                  1
EmergingMarketFund         1
RealEstate                 1
PrivateEquity              1
GovtBonds                  1
CorpBonds                  1
ETF Tech                   1
ETF Health                 1
ETF Med                    0
EstimatedSalary            1
Mortgage                   1
Risk Profile               1
Debt                       1
Net Assets                 1
Portfolio Return           1
Diversification            1
BusinessOwner              1
Revenue                    1
Margin                     1
LifeInsurance              1
NumTransactions            1
LastTransactionDate        1
LastTransactionAmt         1
ForeignAssets              1
NumProducts                1
Churn                      1
Discount                   1
Retention              10001
CLV                    10001
dtype: int64

In [ ]:
df.tail(5)

,RowNumber,CustomerID,Surname,CreditScore,Country,Gender,Married,Age,Dependents,NumBankAccts,...,LifeInsurance,NumTransactions,LastTransactionDate,LastTransactionAmt,ForeignAssets,NumProducts,Churn,Discount,Retention,CLV
9996,9997.0,15569892.0,Johnstone,516.0,France,Male,1.0,35.0,3.0,1.0,...,1.0,1.0,4/7/2017,654.7,0.17,6.0,0.0,0.35,NaN,NaN
9997,9998.0,15584532.0,Liu,709.0,France,Female,0.0,36.0,1.0,1.0,...,1.0,8.0,8/11/2018,8673.2,0.43,6.0,1.0,0.59,NaN,NaN
9998,9999.0,15682355.0,Sabbatini,772.0,Germany,Male,1.0,42.0,1.0,2.0,...,0.0,2.0,3/14/2018,9197.5,0.01,5.0,1.0,0.32,NaN,NaN
9999,10000.0,15628319.0,Walker,792.0,France,Female,0.0,28.0,0.0,1.0,...,0.0,7.0,8/20/2016,1978.4,0.00,6.0,0.0,0.29,NaN,NaN
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.iloc[:-1].copy()

In [ ]:
df.isnull().sum()

RowNumber                  0
CustomerID                 0
Surname                    0
CreditScore                0
Country                    0
Gender                     0
Married                    0
Age                        0
Dependents                 0
NumBankAccts               0
HasCrCard                  0
EmergingMarketFund         0
RealEstate                 0
PrivateEquity              0
GovtBonds                  0
CorpBonds                  0
ETF Tech                   0
ETF Health                 0
ETF Med                    0
EstimatedSalary            0
Mortgage                   0
Risk Profile               0
Debt                       0
Net Assets                 0
Portfolio Return           0
Diversification            0
BusinessOwner              0
Revenue                    0
Margin                     0
LifeInsurance              0
NumTransactions            0
LastTransactionDate        0
LastTransactionAmt         0
ForeignAssets              0
NumProducts                0
Churn                      0
Discount                   0
Retention              10000
CLV                    10000
dtype: int64

In [ ]:
df.columns

Index(['RowNumber', 'CustomerID', 'Surname', 'CreditScore', 'Country',
       'Gender', 'Married', 'Age', 'Dependents', 'NumBankAccts', 'HasCrCard',
       'EmergingMarketFund', 'RealEstate', 'PrivateEquity', 'GovtBonds',
       'CorpBonds', 'ETF Tech', 'ETF Health', 'ETF Med', 'EstimatedSalary',
       'Mortgage', 'Risk Profile', 'Debt', 'Net Assets', 'Portfolio Return',
       'Diversification', 'BusinessOwner', 'Revenue', 'Margin',
       'LifeInsurance', 'NumTransactions', 'LastTransactionDate',
       'LastTransactionAmt', 'ForeignAssets', 'NumProducts', 'Churn',
       'Discount', 'Retention', 'CLV'],
      dtype='object')

In [ ]:
df.describe()

,RowNumber,CustomerID,CreditScore,Married,Age,Dependents,NumBankAccts,HasCrCard,EmergingMarketFund,RealEstate,...,Margin,LifeInsurance,NumTransactions,LastTransactionAmt,ForeignAssets,NumProducts,Churn,Discount,Retention,CLV
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,0.0,0.0
mean,5000.50000,1.569094e+07,650.528800,0.703900,38.921800,2.012600,1.530200,0.70550,0.497500,0.501000,...,0.079935,0.515100,5.469100,5201.839060,0.154225,3.525300,0.497500,0.396433,NaN,NaN
std,2886.89568,7.193619e+04,96.653299,0.456558,10.487806,1.736705,0.581654,0.45584,0.500019,0.500024,...,0.029161,0.499797,2.863331,2766.934647,0.167332,1.706415,0.500019,0.213682,NaN,NaN
min,1.00000,1.556570e+07,350.000000,0.000000,18.000000,0.000000,1.000000,0.00000,0.000000,0.000000,...,0.030000,0.000000,1.000000,375.200000,0.000000,1.000000,0.000000,0.030000,NaN,NaN
25%,2500.75000,1.562853e+07,584.000000,0.000000,32.000000,1.000000,1.000000,0.00000,0.000000,0.000000,...,0.050000,0.000000,3.000000,2800.100000,0.000000,2.000000,0.000000,0.210000,NaN,NaN
50%,5000.50000,1.569074e+07,652.000000,1.000000,37.000000,2.000000,1.000000,1.00000,0.000000,1.000000,...,0.080000,1.000000,5.000000,5187.000000,0.090000,4.000000,0.000000,0.400000,NaN,NaN
75%,7500.25000,1.575323e+07,718.000000,1.000000,44.000000,4.000000,2.000000,1.00000,1.000000,1.000000,...,0.110000,1.000000,8.000000,7600.875000,0.300000,5.000000,1.000000,0.580000,NaN,NaN
max,10000.00000,1.581569e+07,850.000000,1.000000,92.000000,5.000000,4.000000,1.00000,1.000000,1.000000,...,0.130000,1.000000,10.000000,9999.000000,0.500000,6.000000,1.000000,0.760000,NaN,NaN

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df['LastTransactionDate'] = pd.to_datetime(df['LastTransactionDate'], errors='coerce')

In [ ]:
cat_columns = df.select_dtypes('object').columns
for col in cat_columns:
  print(f"{col} unique values:\n", df[col].nunique(), "\n")

Surname unique values:
 2936

Country unique values:
 3

Gender unique values:
 2

In [ ]:
cat_columns = df.select_dtypes('object').columns
for col in cat_columns:
  print(f"{col} unique values:\n", df[col].value_counts(), "\n")

Surname unique values:
 Surname
Smith         32
Martin        29
Scott         29
Walker        28
Brown         26
              ..
Manson         1
Munroe         1
Ohearn         1
Weigel         1
Lung+C9753     1
Name: count, Length: 2936, dtype: int64

Country unique values:
 Country
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

Gender unique values:
 Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [ ]:
import numpy as np

# Select only numeric columns
df_numeric = df.select_dtypes(include=['number'])

# Compute Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df_numeric.quantile(0.25)
Q3 = df_numeric.quantile(0.75)

# Compute IQR
IQR = Q3 - Q1

# Define outliers (1.5 times IQR rule)
outliers = ((df_numeric < (Q1 - 1.5 * IQR)) | (df_numeric > (Q3 + 1.5 * IQR)))

# Count the number of outliers in each column
outlier_counts = outliers.sum()

# Show columns with the most outliers
outlier_counts[outlier_counts > 0].sort_values(ascending=False)

Mortgage        2037
Age              359
NumBankAccts      60
Revenue           58
CreditScore       15
dtype: int64

In [ ]:
df['Mortgage'].describe()

NameError: name 'df' is not defined